.nav {
  margin: 0;
  padding: 5px 2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  /* top: 100px; */
  background: white;
  width: 100vw;
  border-bottom: none;
  outline: none;
  flex-grow: 1;
  /* border-radius: 18rem; */
}

.nav .logo {
  font-family: Outfit;
  font-size: 3.1rem;
  padding: 5px 0;
  /* text-wrap: wrap; */
  color: teal;
  line-height: 2.35rem;
  text-align: center;
  font-weight: 800;
  width: clamp(90px, 100px, 200px);
  background-color: inherit;
  overflow-y: hidden;
}

/* Not require the icon */
._logo::after {
  content: "🤝🏽";
  font-size: 25px;
  width: 3.1rem;
  background-color: rgb(159,
      40,
      159);
  /* top: -2px; */
  border: 2px solid #262626;
  border-radius: 15rem;
  border-left: none;
  height: 2.2rem;
  padding: 10px;
  margin: 0px -5px 0px 11px;
  z-index: -1;
  /* top: -2px; */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  gap: 2rem;
  padding: 0 1.2rem;
  /* border-radius: 18.3rem; */
  margin-top: 0;
  /* color: black; */
}


.nav-menu .active:not(.nav-contact) {
  padding-bottom: 3px;
  border-bottom: 3px solid teal;
  /* color: rgb(159, 40, 159); */
}

.nav-menu a:not(.nav-contact) {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-menu a:hover:not(.nav-contact) {
  color: teal;
}

.nav-contact {
  /* border-radius: 12rem; */
  padding: 11px 22px;
  background-color: #fbffff;
  border: 2px solid teal;
  color: #0a0c0c;
  font-weight: 500;
  font-size: 15px;
  transition: .1s ease-in-out border;
}

/* Animated Underline */

/* .nav-contact::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  height: 0.125em;
  background-color: hsl(200deg, 100%, 50%);
  transition: transform 640ms 320ms ease-in;
  transform: translate(-50%, 0) scaleX(0);
  transform-origin: right;
}

.nav-contact:hover::after {
  transform-origin: left;
  transform:  translate(-50%, 0) scaleX(1);
}

.nav-contact:hover {
  border: none;
} */

.nav-contact:hover,
.active:where(.nav-contact):hover {
  background: teal;
  color: hsl(180, 100%, 80%);
  border: none;
  outline: none;
}

.active:where(.nav-contact) {
  background: teal;
  color: hsl(180, 100%, 100%);
  /* background-color: #fbffff; */
  /* color: hsl(0, 0%, 100%); */
  /* color: teal; */
  border: none;
}

@media (max-width: 768px) {
  
  .nav-menu :not(.nav-contact) {
    display: none;
  }
  
}